In [1]:
from lib.get_active import Pipeline
active=Pipeline()

In [2]:
#active.patient_query="select idpaciente from jpaciente where Nome like '%Renilton%' or Nome like '%Ana Lucia%' or Nome like '%Alexandra%'"
active.get_patient_data(10)

Retrieving Patient List

sending query True

Retrieving Sympthons List

sending query True

Retrieving Paged data from List [[93, 226, 427, 456, 460], [512, 527, 641, 660, 695], [790, 828, 841, 843, 929], [934, 946, 957, 1001, 1033], [1070, 1080, 1082, 1098, 1101], [1108, 1129, 1139, 1151, 1180], [1183, 1191, 1192, 1223, 1224], [1229, 1230, 1246, 1251, 1253], [1254, 1255, 1256, 1264, 1265], [1266, 1271, 1272, 1273]]
Retrieving ids [93, 226, 427, 456, 460]
	 sintomas diarios

sending query True

	 patient data

sending query True

Retrieving ids [512, 527, 641, 660, 695]
	 sintomas diarios

sending query True

	 patient data

sending query True

Retrieving ids [790, 828, 841, 843, 929]
	 sintomas diarios

sending query True

	 patient data

sending query True

Retrieving ids [934, 946, 957, 1001, 1033]
	 sintomas diarios

sending query True

	 patient data

sending query True

Retrieving ids [1070, 1080, 1082, 1098, 1101]
	 sintomas diarios

sending query True

	 patient data

sending query True

Retrieving ids [1108, 1129, 1139, 1151, 1180]
	 sintomas diarios

sending query True

	 patient data

sending query True

Retrieving ids [1183, 1191, 1192, 1223, 1224]
	 sintomas diarios

sending query True

	 patient data

sending query True

Retrieving ids [1229, 1230, 1246, 1251, 1253]
	 sintomas diarios

sending query True

	 patient data

sending query True

Retrieving ids [1254, 1255, 1256, 1264, 1265]
	 sintomas diarios

sending query True

	 patient data

sending query True

Retrieving ids [1266, 1271, 1272, 1273]
	 sintomas diarios

sending query True

	 patient data

sending query True

Done

In [4]:
import os 
from lib.pivot import PivotCsv
p=PivotCsv('input/active.csv' ,os.path.join("C:/Users/marce/OneDrive/Projects/Veredas","Pacientes Isabel_"))
p.process_folder(True)

[0.]

[0.02040816]

[0.04081633]

[0.06122449]

[0.08163265]

[0.10204082]

[0.12244898]

[0.14285714]

[0.16326531]

[0.18367347]

[0.20408163]

[0.2244898]

[0.24489796]

[0.26530612]

[0.28571429]

[0.30612245]

[0.32653061]

[0.34693878]

[0.36734694]

[0.3877551]

[0.40816327]

[0.42857143]

[0.44897959]

[0.46938776]

[0.48979592]

[0.51020408]

[0.53061224]

[0.55102041]

[0.57142857]

[0.59183673]

[0.6122449]

[0.63265306]

[0.65306122]

[0.67346939]

[0.69387755]

[0.71428571]

[0.73469388]

[0.75510204]

[0.7755102]

[0.79591837]

[0.81632653]

[0.83673469]

[0.85714286]

[0.87755102]

[0.89795918]

[0.91836735]

[0.93877551]

[0.95918367]

[0.97959184]

In [ ]:
from datetime import date

today = date.today()
print("Today's date:", today)

from lib.queryfactory import QueryFactory
import os
#from lib.get_active import Pipeline

Today's date: 2020-07-09

In [7]:
p = Pipeline()

In [8]:
credentials = p.get_credentials()#
engine = QueryFactory(credentials)

In [19]:
ids=engine.query("select idpaciente from jpaciente where Nome like '%Renilton%' or Nome like '%Ana Lucia%' or Nome like '%Alexandra%'")

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>idpaciente</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1180</td>
    </tr>
    <tr>
      <th>1</th>
      <td>843</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1229</td>
    </tr>
  </tbody>
</table>
</div>

In [32]:
engine.query("select * from jsintomadiario where idpaciente = 1180 order by data desc limit 5")

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>idrespostadiaria</th>
      <th>idsintoma</th>
      <th>valor</th>
      <th>data</th>
      <th>idpaciente</th>
      <th>conferido</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>21</td>
      <td>0</td>
      <td>2020-07-06</td>
      <td>1180</td>
      <td>None</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>14</td>
      <td>2</td>
      <td>2020-07-06</td>
      <td>1180</td>
      <td>None</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>374</td>
      <td>3</td>
      <td>2020-07-06</td>
      <td>1180</td>
      <td>None</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>412</td>
      <td>3</td>
      <td>2020-07-06</td>
      <td>1180</td>
      <td>None</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>20</td>
      <td>0</td>
      <td>2020-07-06</td>
      <td>1180</td>
      <td>None</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
import pandas as pd

In [28]:
ac=pd.read_csv('input/active.csv',sep=';')

In [29]:
j=ac.query('idpaciente == 1180')

In [30]:
j.sort_values(by=['data'], ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>idsintoma</th>
      <th>valor</th>
      <th>data</th>
      <th>idpaciente</th>
      <th>Nome</th>
      <th>sintoma</th>
      <th>tipo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>33490</th>
      <td>160</td>
      <td>2.0</td>
      <td>2020-07-06</td>
      <td>1180</td>
      <td>Renilton Mendes Rocha</td>
      <td>110 - Esquece nomes ou fisionomias</td>
      <td>PROBLEMAS DE MEMORIA</td>
    </tr>
    <tr>
      <th>12060</th>
      <td>211</td>
      <td>2.0</td>
      <td>2020-07-06</td>
      <td>1180</td>
      <td>Renilton Mendes Rocha</td>
      <td>142 -22.s/n  Rigidez Braço Direito (movimento ...</td>
      <td>PARKINSON</td>
    </tr>
    <tr>
      <th>12262</th>
      <td>212</td>
      <td>4.0</td>
      <td>2020-07-06</td>
      <td>1180</td>
      <td>Renilton Mendes Rocha</td>
      <td>143 - 22-s/n  Rigidez Pescoço-(movimento passi...</td>
      <td>PARKINSON</td>
    </tr>
    <tr>
      <th>30707</th>
      <td>82</td>
      <td>3.0</td>
      <td>2020-07-06</td>
      <td>1180</td>
      <td>Renilton Mendes Rocha</td>
      <td>169 - Guarda magoas muito tempo?</td>
      <td>EMOCIONAL</td>
    </tr>
    <tr>
      <th>12464</th>
      <td>213</td>
      <td>2.0</td>
      <td>2020-07-06</td>
      <td>1180</td>
      <td>Renilton Mendes Rocha</td>
      <td>144 - 21-s/n- Tremor Mão esquerda enquanto a m...</td>
      <td>PARKINSON</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>331</th>
      <td>241</td>
      <td>NaN</td>
      <td>2016-01-01</td>
      <td>1180</td>
      <td>Renilton Mendes Rocha</td>
      <td>29 - Conservou bem os medicamentos no último mes?</td>
      <td>CONFUNDIMENTO</td>
    </tr>
    <tr>
      <th>13627</th>
      <td>225</td>
      <td>NaN</td>
      <td>2016-01-01</td>
      <td>1180</td>
      <td>Renilton Mendes Rocha</td>
      <td>155 - 15-Deambulação (Dificuldade para andar)</td>
      <td>PARKINSON</td>
    </tr>
    <tr>
      <th>13829</th>
      <td>226</td>
      <td>NaN</td>
      <td>2016-01-01</td>
      <td>1180</td>
      <td>Renilton Mendes Rocha</td>
      <td>156 -14- Congela, paraliza quando anda-</td>
      <td>PARKINSON</td>
    </tr>
    <tr>
      <th>14031</th>
      <td>227</td>
      <td>NaN</td>
      <td>2016-01-01</td>
      <td>1180</td>
      <td>Renilton Mendes Rocha</td>
      <td>157-13- Quedas(relacionadas ao travamento para...</td>
      <td>PARKINSON</td>
    </tr>
    <tr>
      <th>128</th>
      <td>152</td>
      <td>NaN</td>
      <td>2016-01-01</td>
      <td>1180</td>
      <td>Renilton Mendes Rocha</td>
      <td>28 - Desanimado, com falta de vontade e dispos...</td>
      <td>CONFUNDIMENTO</td>
    </tr>
  </tbody>
</table>
<p>8893 rows × 7 columns</p>
</div>