In [1]:
import mysql
import pandas as pd

In [2]:
import os
os.getcwd()

'/home/marcelo/projects/veredas'

In [3]:

vars=[f.split("_")[1] for f in os.listdir('scripts') if 'mysql' in f]


def read_vars(file):
    file='mysql_'+file
    fn=os.path.join('scripts',file)
    out=""
    with open(fn,'r') as f:
        out=f.read().strip('\n')
    return out

credentials=dict([(f,read_vars(f)) for f in vars])
credentials.keys()

dict_keys(['user', 'host', 'pass', 'db'])

In [ ]:

query=""
with open(os.path.join('scripts', 'get_active.sql'),'r') as f:
    query=f.read()

In [59]:
import mysql.connector
conn =  mysql.connector.connect(host=credentials["host"], # Host, usually localhost
                     user=credentials["user"], # your username
                     password=credentials["pass"], # your password
                     db=credentials["db"],
                     charset='utf8',
                              buffered=True,connection_timeout= 180,autocommit=True) # name of the data base
#create a Cursor object.
cur = conn.cursor() 
cur.execute('set session net_read_timeout=120')
cur.execute('SET SESSION CHARACTER_SET_RESULTS = latin1')

df =pd.read_sql(query,con=conn)
cur.close()
conn.close()

In [60]:
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>idsintoma</th>
      <th>valor</th>
      <th>data</th>
      <th>idpaciente</th>
      <th>Nome</th>
      <th>sintoma</th>
      <th>tipo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>14</td>
      <td>0.0</td>
      <td>2018-03-07</td>
      <td>843</td>
      <td>ANA LUCIA ELIZIARIO GONÇALVES</td>
      <td>1 - Conjuntivite alergica</td>
      <td>OUTROS ORGAOS</td>
    </tr>
    <tr>
      <th>1</th>
      <td>14</td>
      <td>0.0</td>
      <td>2020-02-04</td>
      <td>841</td>
      <td>Divanir Feitosa da Silva</td>
      <td>1 - Conjuntivite alergica</td>
      <td>OUTROS ORGAOS</td>
    </tr>
    <tr>
      <th>2</th>
      <td>14</td>
      <td>0.0</td>
      <td>2020-03-31</td>
      <td>843</td>
      <td>ANA LUCIA ELIZIARIO GONÇALVES</td>
      <td>1 - Conjuntivite alergica</td>
      <td>OUTROS ORGAOS</td>
    </tr>
    <tr>
      <th>3</th>
      <td>14</td>
      <td>1.0</td>
      <td>2018-10-16</td>
      <td>843</td>
      <td>ANA LUCIA ELIZIARIO GONÇALVES</td>
      <td>1 - Conjuntivite alergica</td>
      <td>OUTROS ORGAOS</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14</td>
      <td>0.0</td>
      <td>2018-03-12</td>
      <td>873</td>
      <td>Elio Roberto Dias da Silva</td>
      <td>1 - Conjuntivite alergica</td>
      <td>OUTROS ORGAOS</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>583695</th>
      <td>428</td>
      <td>0.0</td>
      <td>2020-04-20</td>
      <td>1250</td>
      <td>Jacy Oliveira Vianna</td>
      <td>Refluxo Gastro Esofagico</td>
      <td>OUTRAS DOENCAS</td>
    </tr>
    <tr>
      <th>583696</th>
      <td>428</td>
      <td>0.0</td>
      <td>2020-04-27</td>
      <td>1250</td>
      <td>Jacy Oliveira Vianna</td>
      <td>Refluxo Gastro Esofagico</td>
      <td>OUTRAS DOENCAS</td>
    </tr>
    <tr>
      <th>583697</th>
      <td>428</td>
      <td>NaN</td>
      <td>2020-04-01</td>
      <td>1250</td>
      <td>Jacy Oliveira Vianna</td>
      <td>Refluxo Gastro Esofagico</td>
      <td>OUTRAS DOENCAS</td>
    </tr>
    <tr>
      <th>583698</th>
      <td>428</td>
      <td>0.0</td>
      <td>2020-03-30</td>
      <td>1250</td>
      <td>Jacy Oliveira Vianna</td>
      <td>Refluxo Gastro Esofagico</td>
      <td>OUTRAS DOENCAS</td>
    </tr>
    <tr>
      <th>583699</th>
      <td>429</td>
      <td>NaN</td>
      <td>2020-01-21</td>
      <td>1217</td>
      <td>crismartinsbarros@hotmail.com</td>
      <td>None</td>
      <td>EMOCIONAL</td>
    </tr>
  </tbody>
</table>
<p>583700 rows × 7 columns</p>
</div>

In [64]:
fn=os.path.join('input','active.csv')

In [66]:

df.to_csv(fn, sep=';', index=False)