In [1]:
import mysql
import pandas as pd

In [ ]:
import os
os.getcwd()

vars=[f.split("_")[1] for f in os.listdir('scripts') if 'mysql' in f]


def read_vars(file):
    file='mysql_'+file
    fn=os.path.join('scripts',file)
    out=""
    with open(fn,'r') as f:
        out=f.read().strip('\n')
    return out

credentials=dict([(f,read_vars(f)) for f in vars])
credentials.keys()


query=""
pacient_query=""
with open(os.path.join('scripts', 'get_patients.sql'),'r') as f:
    pacient_query=f.read()

with open(os.path.join('scripts', 'get_active.sql'),'r') as f:
    query=f.read()
pacient_query
import mysql.connector


class QueryFactory:
    def connect(self):
        if not(self.conn and self.conn.is_connected()):
            self.conn = mysql.connector.connect(
                host=self.credentials["host"],
                user=self.credentials["user"],
                password=self.credentials["pass"],
                db=self.credentials["db"],
                charset='utf8',
                buffered=True,
                connection_timeout= 180,
                autocommit=True)
            cur = self.conn.cursor()
            cur.execute('set session net_read_timeout=120')
            cur.execute('SET SESSION CHARACTER_SET_RESULTS = latin1')
            cur.close()
            
    def query(self, query):
        self.connect()
        return pd.read_sql(query, con=self.conn)

    def __init__(self,credentials):
        self.conn = None
        self.credentials = credentials



engine = QueryFactory(credentials)

pacient_list =engine.query(pacient_query)
pacient_list

sintomas =engine.query('select idsintomasGeral idsintoma, replace(Nome,";"," ") sintoma, tipo from jsintomasgeral')
sintomas
pacient_ids='{}'.format(list(pacient_list.idpaciente.values)).replace('[','(').replace(']',')')
sintomas_diario_query = "select idsintoma,valor,data,idpaciente from jsintomadiario where data is not null and data != '0000-00-00' and idpaciente in {}".format(pacient_ids)
sintomas_diario_query

In [78]:

sintomas_diario =engine.query(sintomas_diario_query)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>idsintoma</th>
      <th>valor</th>
      <th>data</th>
      <th>idpaciente</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>2016-08-19</td>
      <td>411</td>
    </tr>
    <tr>
      <th>1</th>
      <td>14.0</td>
      <td>NaN</td>
      <td>2016-01-01</td>
      <td>456</td>
    </tr>
    <tr>
      <th>2</th>
      <td>14.0</td>
      <td>0.0</td>
      <td>2016-08-28</td>
      <td>456</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15.0</td>
      <td>NaN</td>
      <td>2016-01-01</td>
      <td>456</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15.0</td>
      <td>0.0</td>
      <td>2016-08-19</td>
      <td>226</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>601570</th>
      <td>397.0</td>
      <td>0.0</td>
      <td>2020-05-08</td>
      <td>1251</td>
    </tr>
    <tr>
      <th>601571</th>
      <td>402.0</td>
      <td>2.0</td>
      <td>2020-05-08</td>
      <td>1251</td>
    </tr>
    <tr>
      <th>601572</th>
      <td>408.0</td>
      <td>1.0</td>
      <td>2020-05-08</td>
      <td>1251</td>
    </tr>
    <tr>
      <th>601573</th>
      <td>410.0</td>
      <td>1.0</td>
      <td>2020-05-08</td>
      <td>1251</td>
    </tr>
    <tr>
      <th>601574</th>
      <td>421.0</td>
      <td>1.0</td>
      <td>2020-05-08</td>
      <td>1251</td>
    </tr>
  </tbody>
</table>
<p>601575 rows × 4 columns</p>
</div>

In [79]:
sintomas_diario

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>idsintoma</th>
      <th>valor</th>
      <th>data</th>
      <th>idpaciente</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>2016-08-19</td>
      <td>411</td>
    </tr>
    <tr>
      <th>1</th>
      <td>14.0</td>
      <td>NaN</td>
      <td>2016-01-01</td>
      <td>456</td>
    </tr>
    <tr>
      <th>2</th>
      <td>14.0</td>
      <td>0.0</td>
      <td>2016-08-28</td>
      <td>456</td>
    </tr>
    <tr>
      <th>3</th>
      <td>15.0</td>
      <td>NaN</td>
      <td>2016-01-01</td>
      <td>456</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15.0</td>
      <td>0.0</td>
      <td>2016-08-19</td>
      <td>226</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>601570</th>
      <td>397.0</td>
      <td>0.0</td>
      <td>2020-05-08</td>
      <td>1251</td>
    </tr>
    <tr>
      <th>601571</th>
      <td>402.0</td>
      <td>2.0</td>
      <td>2020-05-08</td>
      <td>1251</td>
    </tr>
    <tr>
      <th>601572</th>
      <td>408.0</td>
      <td>1.0</td>
      <td>2020-05-08</td>
      <td>1251</td>
    </tr>
    <tr>
      <th>601573</th>
      <td>410.0</td>
      <td>1.0</td>
      <td>2020-05-08</td>
      <td>1251</td>
    </tr>
    <tr>
      <th>601574</th>
      <td>421.0</td>
      <td>1.0</td>
      <td>2020-05-08</td>
      <td>1251</td>
    </tr>
  </tbody>
</table>
<p>601575 rows × 4 columns</p>
</div>

In [81]:
pacient_data=engine.query('select idpaciente, Nome from jpaciente where idpaciente in {}'.format(pacient_ids))

In [82]:
pacient_data

In [85]:
active_data=sintomas_diario.merge(pacient_data,how='inner',on='idpaciente').merge(sintomas,how='inner',on='idsintoma')

In [87]:
fn=os.path.join('input','active.csv')

In [88]:

active_data.to_csv(fn, sep=';', index=False)